.menu {
  background-color: $white;

  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 30px;
  }

  &__box-lang {
    display: flex;
    gap: 20px;
  }

  &__button-box {
    flex-grow: 1;
    display: flex;
  }

  &__button-buy {
    display: block;
    width: 100%;
    align-self: end;

    @include on-tablet {
      display: none;
    }
  }
}
