.top-bar {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  grid-column: 1 / -1;

  @include on-tablet {
    height: 105px;
  }

  &__rigth-box {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__burger-menu {
    @include on-small-desktop {
      display: none;
    }
  }
}
