@import 'utils';
@import 'fonts';
@import 'typography';
@import 'normalize';

@import 'blocks/small-blocks';
@import 'blocks/page';
@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/top-bar';
@import 'blocks/benefit';
@import 'blocks/section-presentation';
@import 'blocks/nav';
@import 'blocks/section-about-us';
@import 'blocks/section-testimonilas';
@import 'blocks/section-features';
@import 'blocks/section-questions';
@import 'blocks/footer';

.main {
  display: flex;
  flex-direction: column;
  gap: 110px;
  padding-block: 110px;

  @include on-tablet {
    gap: 140px;
    padding-block: 140px;
  }

  @include on-small-desktop {
    gap: 170px;
    padding-block: 170px;
  }
}
