$c-gray: #eee;
$turquoise-accent: #0DB2B3;
$turquoise-dark: #0C797A;
$turquoise: #CFEFF0;
$turquoise-light: #EEFAFA;
$white: #F7F7F7;
$black: #131313;
$gray1: #333;
$gray2: #4F4F4F;
$gray3: #7C7C7C;
$gray4: #BDBDBD;
$gray5: #D0D0D0;
$translition: 0.3s;
